/* Home View */

.add-margin {
    margin-top: 20%;
}

.normal-text {
    color: gray;
    font-size: 200%;
    text-align: center;
}

.link-text {
    color: #0099FF;
    font-size: 120%;
}

.no-text-decoration {
    text-decoration: none;
}

.text-align-center {
    text-align: center;
}

.text-align-center-vertical {
    margin-top: 20%;
}

.from-profile-thumbnail {
    margin-left: 20px;
}
/* Camera View */

.camera-thumb {
    width: 70%;
}