<ion-view view-title="From">
    <ion-content>
        <img width="100" class="from-profile-thumbnail" src="img/profiles/chaminda.jpg" />
        <img width="100" class="from-profile-thumbnail" src="img/profiles/kosala.jpg" />
        <img width="100" class="from-profile-thumbnail" src="img/profiles/kishan.jpg" />
        <img width="100" class="from-profile-thumbnail" src="img/profiles/suranga.jpg" />
        <img width="100" class="from-profile-thumbnail" src="img/profiles/tharindra.jpg" />
        <img width="100" class="from-profile-thumbnail" src="img/profiles/rashmika.jpg" />
    </ion-content>
</ion-view>